<div class="t2">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <div class="sidebar mutable background-color">
        <h1 class="title mutable color text">LOREM IPSUM DOLOR AMET</h1>
    </div>
    <div class="form-container">
        <form action="#" class="form mutable url">
            <div>
                <span>EMAIL:</span>
                <input type="text" name="email" placeholder="example@email.com">
            </div>
            <div>
                <span>NOME:</span>
                <input type="text" name="name" placeholder="Jhon Smith">
            </div>
            <input type="submit" value="ENVIAR">
        </form>
    </div>
</div>