.t2-main {
    display: flex;
    height: 600px;
}

.t2-sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    background-color: black;
}

.t2-title {
    margin: 0;
    text-align: right;
    padding-right: 30px;
}

.t2-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.t2-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 50%;
    margin: 0;
    padding: 0;
}