* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #28272a;
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.template {
  background-color: white;
  height: 600px;
  margin: 100px 200px;
  border: yellow 1px dotted;
}

.mutable:hover {
  cursor: pointer;
  filter: sepia(1);
  border-radius: 5px;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #535353;

  * {
    width: 50px;
    margin: 5px;
  }
}

.edit-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: #535353;
  padding: 10px;

  div {
    margin: 20px;
  }

  button {
    margin: 20px;
  }
}
